:root {
    --text: #82cece;
    --background: #555b6e
}

/* Elemental Selectors */

header h1 {
    color: var(--background);
    background-color: var(--text);
    width: 17%;
    text-align-last: end;
    padding-right: 10px;
    position: absolute;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--background);
    width: 100%;
    height: 80px;
}

nav a {
    padding: 5px;
    padding-bottom: 20px;
    align-self: flex-end;
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
}

section h2 {
    position: absolute;
    align-self: flex-end;
    padding: 10px;
    color: var(--text);
    background-color: var(--background);
    font-weight: bold;
    margin-right: 10px;
}

/* Class Selectors */

.flex-container {
    display: flex;
}

.banner {
    display: flex;
    justify-content: flex-end;
}